HELP.md
target/
build/

!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

### Eclipse / STS ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

### IntelliJ ###
.idea/
*.iml
*.ipr
*.iws

### VS Code ###
.vscode/

### Environment ###
.env
*.log

### Maven Wrapper ###
.mvn/wrapper/maven-wrapper.jar